*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


:root{

    --bg:#050505;
    --white:#f5f5f5;
    --gray:#888;

    --blue:#00e5ff;
    --purple:#7b2cff;

}


html{
    scroll-behavior:smooth;
}



body{

    background:#050505;
    color:white;

    font-family:Arial, Helvetica, sans-serif;

    overflow-x:hidden;

}



a{
    text-decoration:none;
    color:white;
}



/* ======================
LOADER
====================== */


.loader{

position:fixed;

inset:0;

background:#050505;

z-index:9999;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

animation:loaderOut 1s ease 2s forwards;

}



.loader-text{

font-size:8vw;

font-weight:900;

letter-spacing:-5px;

}



.loader-sub{

margin-top:20px;

letter-spacing:5px;

color:#888;

font-size:12px;

}



@keyframes loaderOut{

to{

opacity:0;

visibility:hidden;

}

}






/* ======================
BACKGROUND
====================== */


.background{

position:fixed;

inset:0;

z-index:-1;

overflow:hidden;

}



.grid{

position:absolute;

inset:0;


background-image:

linear-gradient(
rgba(255,255,255,.04) 1px,
transparent 1px
),

linear-gradient(
90deg,
rgba(255,255,255,.04) 1px,
transparent 1px
);


background-size:80px 80px;


animation:gridMove 20s linear infinite;

}



@keyframes gridMove{

to{

transform:translateY(80px);

}

}



.orb{

position:absolute;

border-radius:50%;

filter:blur(120px);

}



.orb-one{

width:500px;

height:500px;

background:#0066ff;

top:-200px;

right:-100px;

animation:float 10s infinite alternate;

}



.orb-two{

width:400px;

height:400px;

background:#8a00ff;

bottom:-150px;

left:-100px;

animation:float 12s infinite alternate;

}



@keyframes float{

to{

transform:translate(80px,-80px);

}

}





/* ======================
CURSOR
====================== */


.cursor{

position:fixed;

width:25px;

height:25px;

border:1px solid var(--blue);

border-radius:50%;

pointer-events:none;

z-index:999;

transition:.3s;

}






/* ======================
NAV
====================== */


.nav{

height:100px;

padding:0 6vw;

display:flex;

justify-content:space-between;

align-items:center;

position:fixed;

top:0;

width:100%;

z-index:100;



}



.logo{

font-size:25px;

font-weight:900;

}



.logo span{

color:var(--blue);

}



.nav-links{

display:flex;

gap:45px;

}



.nav-links a{

font-size:12px;

letter-spacing:3px;

color:#aaa;

transition:.3s;

}



.nav-links a:hover{

color:white;

}





/* ======================
HERO
====================== */


.hero{

height:100vh;

padding:150px 6vw 60px;

display:flex;

flex-direction:column;

justify-content:space-between;

}



.hero-meta{

display:flex;

justify-content:space-between;

font-size:11px;

letter-spacing:4px;

color:#888;

}





.hero-title h1{

font-size:clamp(80px,15vw,230px);

line-height:.8;

font-weight:900;

letter-spacing:-10px;

perspective:1000px;

}




.threeD{

display:block;

text-shadow:

0 5px 0 #222,
0 10px 0 #151515,
0 20px 40px rgba(0,229,255,.4);


animation:textFloat 6s infinite alternate;

}



.outline{

display:block;

color:transparent;

-webkit-text-stroke:2px white;

}



@keyframes textFloat{

to{

transform:translateY(-20px)
rotateX(8deg);

}

}



.hero-bottom{

display:flex;

justify-content:space-between;

align-items:end;

}



.hero-bottom p{

max-width:400px;

color:#aaa;

line-height:1.8;

}



.circle-btn{

width:150px;

height:150px;

border:1px solid #444;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

font-size:12px;

letter-spacing:3px;

transition:.5s;

}



.circle-btn:hover{

background:white;

color:black;

transform:rotate(20deg);

}







/* ======================
SECTIONS
====================== */


.section,
.work,
.contact{

padding:150px 6vw;

}



.section-number{

color:var(--blue);

font-size:12px;

letter-spacing:4px;

margin-bottom:70px;

}





.about-title h2,
.contact h2,
.work-title h2{


font-size:clamp(60px,10vw,160px);

line-height:.85;

letter-spacing:-7px;

font-weight:900;


}



.about-title span,
.contact span,
.work-title span{

display:block;

color:transparent;

-webkit-text-stroke:2px white;

}




.about-text{

max-width:700px;

margin-top:60px;

font-size:25px;

line-height:1.6;

color:#aaa;

}






/* ======================
CARDS
====================== */


.cards{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:30px;

}



.card{

height:350px;

padding:40px;

border:1px solid rgba(255,255,255,.1);

background:rgba(255,255,255,.03);

backdrop-filter:blur(20px);

transition:.5s;

}



.card:hover{

transform:
translateY(-15px)
rotateX(5deg);

border-color:var(--blue);

}



.card span{

color:var(--blue);

}



.card h3{

font-size:45px;

margin-top:80px;

}



.card p{

color:#888;

margin-top:20px;

}






/* ======================
PROCESS
====================== */


.process-list{

display:grid;

grid-template-columns:repeat(4,1fr);

}



.process-list div{

border-top:1px solid #333;

padding:40px 0;

font-size:15px;

}



.process-list h3{

font-size:30px;

margin-top:20px;

}





/* ======================
TOOLS
====================== */


.tool-list{

display:flex;

flex-wrap:wrap;

gap:20px;

}



.tool-list span{

padding:20px 35px;

border:1px solid #333;

border-radius:50px;

transition:.4s;

}



.tool-list span:hover{

background:white;

color:black;

transform:translateY(-10px);

}





/* ======================
CONTACT
====================== */


.contact>a{

font-size:40px;

display:inline-block;

margin-top:60px;

border-bottom:1px solid white;

}



.social{

margin-top:50px;

display:flex;

gap:40px;

color:#aaa;

}





footer{

border-top:1px solid #222;

padding:40px 6vw;

display:flex;

justify-content:space-between;

color:#777;

font-size:12px;

}






/* MOBILE */

@media(max-width:800px){


.nav-links{

display:none;

}


.hero-title h1{

letter-spacing:-4px;

}


.cards,
.process-list{

grid-template-columns:1fr;

}


.hero-bottom{

flex-direction:column;

gap:40px;

align-items:start;

}


footer{

flex-direction:column;

gap:20px;

}


}
